body{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#1f2937,#020617);
  font-family:Poppins,Arial;
  color:white;
}

.title{
  margin-bottom:20px;
}

.container{
  display:flex;
  gap:20px;
}

.history-box{
  width:200px;
  height:420px;
  background:rgba(255,255,255,0.1);
  border-radius:15px;
  padding:10px;
  color:white;
  overflow-y:auto;
  backdrop-filter:blur(10px);
}

.history-box h3{
  text-align:center;
}

#history li{
  font-size:14px;
  margin:5px 0;
}

.calculator{
  background:rgba(255,255,255,0.1);
  padding:20px;
  border-radius:20px;
  box-shadow:0 0 25px rgba(0,0,0,0.7);
  backdrop-filter:blur(12px);
}

#display{
  width:100%;
  height:60px;
  border:none;
  outline:none;
  background:#020617;
  color:white;
  font-size:28px;
  border-radius:10px;
  padding:10px;
  margin-bottom:15px;
}

.buttons{
  display:grid;
  grid-template-columns:repeat(4,80px);
  gap:10px;
}

button{
  height:55px;
  border:none;
  border-radius:10px;
  background:#1e293b;
  color:white;
  font-size:18px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#38bdf8;
  transform:scale(1.05);
}

.zero{
  grid-column:span 2;
}
